/* @tailwind base; */
@font-face {
  font-family: Iransans;
  src: url("../../fonts/IRANSansWeb-Light.woff");
  src: url("../../fonts/IRANSansWeb-Light.woff2");
}

* {
  font-family: Iransans;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#nav:checked + nav {
  height: 350px;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-\[20px\] {
  bottom: 20px;
}

.end-1 {
  inset-inline-end: 0.25rem;
}

.left-\[20px\] {
  left: 20px;
}

.right-0 {
  right: 0px;
}

.right-\[350px\] {
  right: 350px;
}

.right-\[700px\] {
  right: 700px;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-10 {
  top: 2.5rem;
}

.top-12 {
  top: 3rem;
}

.z-40 {
  z-index: 40;
}

.z-\[999\] {
  z-index: 999;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.m-0 {
  margin: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.mr-\[200px\] {
  margin-right: 200px;
}

.mr-\[20px\] {
  margin-right: 20px;
}

.mr-\[330px\] {
  margin-right: 330px;
}

.mr-\[670px\] {
  margin-right: 670px;
}

.mr-\[680px\] {
  margin-right: 680px;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[27px\] {
  margin-top: 27px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[65px\] {
  margin-top: 65px;
}

.mt-\[80px\] {
  margin-top: 80px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[102px\] {
  height: 102px;
}

.h-\[190px\] {
  height: 190px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[214px\] {
  height: 214px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[280px\] {
  height: 280px;
}

.h-\[290px\] {
  height: 290px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[310px\] {
  height: 310px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[4px\] {
  height: 4px;
}

.h-\[555px\] {
  height: 555px;
}

.h-\[56px\] {
  height: 56px;
}

.w-8 {
  width: 2rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[135px\] {
  width: 135px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[190px\] {
  width: 190px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[245px\] {
  width: 245px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[330px\] {
  width: 330px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[468px\] {
  width: 468px;
}

.w-\[55px\] {
  width: 55px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.max-w-\[550px\] {
  max-width: 550px;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-\[45\%_10\%_32\%_13\%\] {
  grid-template-rows: 45% 10% 32% 13%;
}

.grid-rows-\[50\%\%_10\%_27\%_13\%\] {
  grid-template-rows: 50%% 10% 27% 13%;
}

.grid-rows-\[50\%_10\%_27\%_13\%\] {
  grid-template-rows: 50% 10% 27% 13%;
}

.grid-rows-\[80\%_20\%\] {
  grid-template-rows: 80% 20%;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[15px\] {
  gap: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[15px\] {
  border-radius: 15px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-none {
  border-style: none;
}

.border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-emerald-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(6 95 70 / var(--tw-bg-opacity));
}

.bg-golestanred {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity));
}

.bg-gray-300\/90 {
  background-color: rgb(209 213 219 / 0.9);
}

.bg-gray-300\/95 {
  background-color: rgb(209 213 219 / 0.95);
}

.bg-indigo-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity));
}

.bg-indigo-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity));
}

.bg-lime-300\/55 {
  background-color: rgb(190 242 100 / 0.55);
}

.bg-lime-300\/75 {
  background-color: rgb(190 242 100 / 0.75);
}

.bg-neutral-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(115 115 115 / var(--tw-bg-opacity));
}

.bg-orange-300\/100 {
  background-color: rgb(253 186 116 / 1);
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.bg-slate-200\/90 {
  background-color: rgb(226 232 240 / 0.9);
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

.bg-teal-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}

.bg-teal-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 94 89 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[url\(\'\.\.\/\.\.\/images\/aparat_background\.png\'\)\] {
  background-image: url('../../images/aparat_background.png');
}

.bg-\[url\(\'\.\.\/\.\.\/images\/facebook_background\.png\'\)\] {
  background-image: url('../../images/facebook_background.png');
}

.bg-\[url\(\'\.\.\/\.\.\/images\/golestan_background\.png\'\)\] {
  background-image: url('../../images/golestan_background.png');
}

.bg-\[url\(\'\.\.\/\.\.\/images\/instagram_background\.png\'\)\] {
  background-image: url('../../images/instagram_background.png');
}

.bg-\[url\(\'\.\.\/\.\.\/images\/linkdin_background\.png\'\)\] {
  background-image: url('../../images/linkdin_background.png');
}

.bg-\[url\(\'\.\.\/\.\.\/images\/telegram_background\.png\'\)\] {
  background-image: url('../../images/telegram_background.png');
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.pr-\[25px\] {
  padding-right: 25px;
}

.pt-\[220px\] {
  padding-top: 220px;
}

.text-justify {
  text-align: justify;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[21px\] {
  font-size: 21px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[27px\] {
  font-size: 27px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.font-bold {
  font-weight: 700;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[35px\] {
  line-height: 35px;
}

.text-amber-200 {
  --tw-text-opacity: 1;
  color: rgb(253 230 138 / var(--tw-text-opacity));
}

.text-gray-600\/100 {
  color: rgb(75 85 99 / 1);
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.text-rose-700 {
  --tw-text-opacity: 1;
  color: rgb(190 18 60 / var(--tw-text-opacity));
}

.text-sky-300 {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.text-slate-300 {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-slate-600\/95 {
  color: rgb(71 85 105 / 0.95);
}

.text-stone-400 {
  --tw-text-opacity: 1;
  color: rgb(168 162 158 / var(--tw-text-opacity));
}

.text-stone-600 {
  --tw-text-opacity: 1;
  color: rgb(87 83 78 / var(--tw-text-opacity));
}

.text-teal-600\/85 {
  color: rgb(13 148 136 / 0.85);
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration-line: none;
}

.opacity-40 {
  opacity: 0.4;
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-gray-600 {
  --tw-shadow-color: #4b5563;
  --tw-shadow: var(--tw-shadow-colored);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

@font-face {
  font-family: Iransans;

  src: url("../../fonts/IRANSansWeb-Light.woff");

  src: url("../../fonts/IRANSansWeb-Light.woff2");
}

* {
  font-family: Iransans;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav:checked + nav {
  height: 350px;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:-top-2::before {
  content: var(--tw-content);
  top: -0.5rem;
}

.before\:block::before {
  content: var(--tw-content);
  display: block;
}

.before\:h-\[4px\]::before {
  content: var(--tw-content);
  height: 4px;
}

.before\:w-8::before {
  content: var(--tw-content);
  width: 2rem;
}

.before\:bg-white::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:top-2::after {
  content: var(--tw-content);
  top: 0.5rem;
}

.after\:block::after {
  content: var(--tw-content);
  display: block;
}

.after\:h-\[4px\]::after {
  content: var(--tw-content);
  height: 4px;
}

.after\:w-8::after {
  content: var(--tw-content);
  width: 2rem;
}

.after\:bg-white::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:bg-red-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.hover\:bg-\[url\(\'\.\.\/\.\.\/images\/aparat_icon\.png\'\)\]:hover {
  background-image: url('../../images/aparat_icon.png');
}

.hover\:bg-\[url\(\'\.\.\/\.\.\/images\/facebook_icon\.png\'\)\]:hover {
  background-image: url('../../images/facebook_icon.png');
}

.hover\:bg-\[url\(\'\.\.\/\.\.\/images\/golestan_icon\.png\'\)\]:hover {
  background-image: url('../../images/golestan_icon.png');
}

.hover\:bg-\[url\(\'\.\.\/\.\.\/images\/instagram_icon\.png\'\)\]:hover {
  background-image: url('../../images/instagram_icon.png');
}

.hover\:bg-\[url\(\'\.\.\/\.\.\/images\/linkdin_icon\.png\'\)\]:hover {
  background-image: url('../../images/linkdin_icon.png');
}

.hover\:bg-\[url\(\'\.\.\/\.\.\/images\/telegram_icon\.png\'\)\]:hover {
  background-image: url('../../images/telegram_icon.png');
}

.hover\:text-slate-100:hover {
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}

.hover\:opacity-70:hover {
  opacity: 0.7;
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:bg-neutral-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}

.dark\:bg-slate-100:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.dark\:bg-zinc-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}

.dark\:bg-zinc-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.dark\:bg-stone-800:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(41 37 36 / var(--tw-bg-opacity));
}

.dark\:bg-stone-900:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
}

.dark\:font-bold:is(.dark *) {
  font-weight: 700;
}

.dark\:text-black:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.dark\:text-white:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 375px) {
  .mobile\:absolute {
    position: absolute;
  }

  .mobile\:relative {
    position: relative;
  }

  .mobile\:bottom-\[10px\] {
    bottom: 10px;
  }

  .mobile\:top-3 {
    top: 0.75rem;
  }

  .mobile\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .mobile\:mb-\[25px\] {
    margin-bottom: 25px;
  }

  .mobile\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .mobile\:mb-\[35px\] {
    margin-bottom: 35px;
  }

  .mobile\:mb-\[45px\] {
    margin-bottom: 45px;
  }

  .mobile\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .mobile\:mr-\[20px\] {
    margin-right: 20px;
  }

  .mobile\:mr-\[5px\] {
    margin-right: 5px;
  }

  .mobile\:mt-\[10px\] {
    margin-top: 10px;
  }

  .mobile\:mt-\[1300px\] {
    margin-top: 1300px;
  }

  .mobile\:mt-\[250px\] {
    margin-top: 250px;
  }

  .mobile\:mt-\[30px\] {
    margin-top: 30px;
  }

  .mobile\:mt-\[35px\] {
    margin-top: 35px;
  }

  .mobile\:mt-\[50px\] {
    margin-top: 50px;
  }

  .mobile\:mt-\[60px\] {
    margin-top: 60px;
  }

  .mobile\:mt-\[70px\] {
    margin-top: 70px;
  }

  .mobile\:flex {
    display: flex;
  }

  .mobile\:hidden {
    display: none;
  }

  .mobile\:h-\[100px\] {
    height: 100px;
  }

  .mobile\:h-\[1400px\] {
    height: 1400px;
  }

  .mobile\:h-\[1630px\] {
    height: 1630px;
  }

  .mobile\:h-\[180px\] {
    height: 180px;
  }

  .mobile\:h-\[241px\] {
    height: 241px;
  }

  .mobile\:h-\[327px\] {
    height: 327px;
  }

  .mobile\:h-\[500px\] {
    height: 500px;
  }

  .mobile\:h-\[75px\] {
    height: 75px;
  }

  .mobile\:w-\[100\%\] {
    width: 100%;
  }

  .mobile\:w-\[300px\] {
    width: 300px;
  }

  .mobile\:w-\[335px\] {
    width: 335px;
  }

  .mobile\:w-full {
    width: 100%;
  }

  .mobile\:flex-wrap {
    flex-wrap: wrap;
  }

  .mobile\:justify-center {
    justify-content: center;
  }

  .mobile\:px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile\:pr-\[12px\] {
    padding-right: 12px;
  }

  .mobile\:pr-\[15px\] {
    padding-right: 15px;
  }

  .mobile\:pr-\[20px\] {
    padding-right: 20px;
  }

  .mobile\:pr-\[35px\] {
    padding-right: 35px;
  }

  .mobile\:text-\[12px\] {
    font-size: 12px;
  }

  .mobile\:text-\[18px\] {
    font-size: 18px;
  }

  .mobile\:text-\[20px\] {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .desktop\:absolute {
    position: absolute;
  }

  .desktop\:relative {
    position: relative;
  }

  .desktop\:bottom-0 {
    bottom: 0px;
  }

  .desktop\:right-\[370px\] {
    right: 370px;
  }

  .desktop\:top-0 {
    top: 0px;
  }

  .desktop\:m-0 {
    margin: 0px;
  }

  .desktop\:mb-\[110px\] {
    margin-bottom: 110px;
  }

  .desktop\:mb-\[80px\] {
    margin-bottom: 80px;
  }

  .desktop\:mr-0 {
    margin-right: 0px;
  }

  .desktop\:mr-\[175px\] {
    margin-right: 175px;
  }

  .desktop\:mt-\[100px\] {
    margin-top: 100px;
  }

  .desktop\:mt-\[120px\] {
    margin-top: 120px;
  }

  .desktop\:mt-\[200px\] {
    margin-top: 200px;
  }

  .desktop\:mt-\[25px\] {
    margin-top: 25px;
  }

  .desktop\:mt-\[30px\] {
    margin-top: 30px;
  }

  .desktop\:mt-\[400px\] {
    margin-top: 400px;
  }

  .desktop\:mt-\[60px\] {
    margin-top: 60px;
  }

  .desktop\:mt-\[7px\] {
    margin-top: 7px;
  }

  .desktop\:mt-\[80px\] {
    margin-top: 80px;
  }

  .desktop\:flex {
    display: flex;
  }

  .desktop\:grid {
    display: grid;
  }

  .desktop\:hidden {
    display: none;
  }

  .desktop\:h-\[105px\] {
    height: 105px;
  }

  .desktop\:h-\[250px\] {
    height: 250px;
  }

  .desktop\:h-\[285px\] {
    height: 285px;
  }

  .desktop\:h-\[300px\] {
    height: 300px;
  }

  .desktop\:h-\[305px\] {
    height: 305px;
  }

  .desktop\:h-\[310px\] {
    height: 310px;
  }

  .desktop\:h-\[315px\] {
    height: 315px;
  }

  .desktop\:h-\[320px\] {
    height: 320px;
  }

  .desktop\:h-\[344px\] {
    height: 344px;
  }

  .desktop\:h-\[470px\] {
    height: 470px;
  }

  .desktop\:h-\[490px\] {
    height: 490px;
  }

  .desktop\:h-\[495px\] {
    height: 495px;
  }

  .desktop\:h-\[510px\] {
    height: 510px;
  }

  .desktop\:h-\[630px\] {
    height: 630px;
  }

  .desktop\:h-\[700px\] {
    height: 700px;
  }

  .desktop\:h-\[95px\] {
    height: 95px;
  }

  .desktop\:h-fit {
    height: -moz-fit-content;
    height: fit-content;
  }

  .desktop\:w-\[100\%\] {
    width: 100%;
  }

  .desktop\:w-\[1000px\] {
    width: 1000px;
  }

  .desktop\:w-\[1020px\] {
    width: 1020px;
  }

  .desktop\:w-\[150px\] {
    width: 150px;
  }

  .desktop\:w-\[170px\] {
    width: 170px;
  }

  .desktop\:w-\[290px\] {
    width: 290px;
  }

  .desktop\:w-\[330px\] {
    width: 330px;
  }

  .desktop\:w-\[350px\] {
    width: 350px;
  }

  .desktop\:w-\[395px\] {
    width: 395px;
  }

  .desktop\:w-\[680px\] {
    width: 680px;
  }

  .desktop\:w-\[695px\] {
    width: 695px;
  }

  .desktop\:w-\[715px\] {
    width: 715px;
  }

  .desktop\:w-\[800px\] {
    width: 800px;
  }

  .desktop\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .desktop\:w-full {
    width: 100%;
  }

  .desktop\:max-w-\[450px\] {
    max-width: 450px;
  }

  .desktop\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .desktop\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .desktop\:\!flex-row {
    flex-direction: row !important;
  }

  .desktop\:flex-row {
    flex-direction: row;
  }

  .desktop\:justify-center {
    justify-content: center;
  }

  .desktop\:gap-1 {
    gap: 0.25rem;
  }

  .desktop\:gap-2 {
    gap: 0.5rem;
  }

  .desktop\:gap-3 {
    gap: 0.75rem;
  }

  .desktop\:gap-32 {
    gap: 8rem;
  }

  .desktop\:overflow-visible {
    overflow: visible;
  }

  .desktop\:bg-orange-300\/100 {
    background-color: rgb(253 186 116 / 1);
  }

  .desktop\:p-0 {
    padding: 0px;
  }

  .desktop\:pr-\[130px\] {
    padding-right: 130px;
  }

  .desktop\:pr-\[25px\] {
    padding-right: 25px;
  }

  .desktop\:pr-\[30px\] {
    padding-right: 30px;
  }

  .desktop\:pr-\[75px\] {
    padding-right: 75px;
  }

  .desktop\:pt-\[85px\] {
    padding-top: 85px;
  }

  .desktop\:text-\[16px\] {
    font-size: 16px;
  }

  .desktop\:text-\[22px\] {
    font-size: 22px;
  }

  .desktop\:text-\[30px\] {
    font-size: 30px;
  }

  .group:hover .desktop\:group-hover\:flex {
    display: flex;
  }
}
